$bootstrap-sass-asset-helper: false !default;


// 网站宽度
$width: 1100px;
$width-rem: 110rem;
$body-background: #fff;


/* --------------------------------------------------------------
 * = 配色
 * ----------------------------------------------------------- */
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


/* --------------------------------------------------------------
 * = 全局样式
 * ----------------------------------------------------------- */

// `<body>` 背景颜色
$body-bg:               #fff !default;
// `<body>` 上的字体颜色
$text-color:            $gray-dark !default;

// 全局链接颜色
$link-color:            $brand-primary !default;
// 全局鼠标经过链接颜色
$link-hover-color:      darken($link-color, 15%) !default;
// 鼠标经过装饰
$link-hover-decoration: underline !default;


/* --------------------------------------------------------------
 * = 排版
 * ----------------------------------------------------------- */
//## 全局默认字体排版
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

// `<code>`, `<kbd>`, 和 `<pre>` 等元素的默认字体.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

// 基本字号
$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

// 标题字号
$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

// 按钮等元素上的倍数行高 `line-height`
$line-height-base:        1.428571429 !default; // 20/14

// 计算出实际的像素行高值 "line-height" (`font-size` * `line-height`) 以方便 `margin`, `padding` 使用
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

// 标题字体属性, 默认情况下, 从 `<body>` 继承.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


/* --------------------------------------------------------------
 * = 字体图标
 * ----------------------------------------------------------- */
// 从目录加载
$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "../fonts/bootstrap/") !default;

// 所有字体的文件名称
$icon-font-name:          "glyphicons-halflings-regular" !default;
// SVG 图标文件的元素 ID
$icon-font-svg-id:        "glyphicons_halflingsregular" !default;


/* --------------------------------------------------------------
 * = 间距
 * ----------------------------------------------------------- */

// 内间距
$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

// 大尺寸内间距
$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

// 小尺寸内间距
$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

// 超小尺寸内间距
$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

// 行高
$line-height-large:         1.3333333 !default;
$line-height-small:         1.5 !default;

// 圆角的半径
$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

// 当前项目的全局字体颜色 (e.g., navs or dropdowns).
$component-active-color:    #fff !default;

// 当前项目的全局背景颜色 (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default;

// 下拉指示小三角的宽度
$caret-width-base:          4px !default;

// 大号下拉指示小三角的宽度
$caret-width-large:         5px !default;


/* --------------------------------------------------------------
 * = 表格
 * ----------------------------------------------------------- */
// <th> 和 <td> 的内间距.
$table-cell-padding:            8px !default;

// 紧凑表格 `.table-condensed` 的<th> 和 <td>内间距.
$table-condensed-cell-padding:  5px !default;

// 所有表格的默认背景颜色
$table-bg:                      transparent !default;

// 条纹表格的背景颜色
$table-bg-accent:               #f9f9f9 !default;

// 鼠标经过效果表格的背景颜色 `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

// 有边框表格的边框颜色
$table-border-color:            #ddd !default;


/* --------------------------------------------------------------
 * = 按钮
 * ----------------------------------------------------------- */
$btn-font-weight:                normal !default;

// 默认按钮
$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

// 主按钮
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

// 成功按钮 绿色
$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

// 信息按钮
$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

// 警告按钮 黄色
$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

// 危险按钮 红色
$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

// 禁用按钮 灰色
$btn-link-disabled-color:        $gray-light !default;

// 默认使用全局圆角, 可自定义
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;


/* --------------------------------------------------------------
 * = 表单
 * ----------------------------------------------------------- */
// `<input>` 表单背景颜色
$input-bg:                       #fff !default;

// `<input disabled>` 禁用表单背景颜色
$input-bg-disabled:              $gray-lighter !default;

// `<input>` 表单文本颜色
$input-color:                    $gray !default;

// `<input>` 表单边框颜色
$input-border:                   #ccc !default;

// 默认 `.form-control` 圆角半径
// 有些浏览器上, 此设置对于 `<select>` 表单无效
$input-border-radius:            $border-radius-base !default;
// 大号 `.form-control` 圆角半径
$input-border-radius-large:      $border-radius-large !default;
// 小号 `.form-control` 圆角半径
$input-border-radius-small:      $border-radius-small !default;

// 聚焦时的表单边框颜色
$input-border-focus:             #66afe9 !default;

// 占位符文本颜色
$input-color-placeholder:        #999 !default;

// 默认 `.form-control` 行高
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
// 大号 `.form-control` 行高
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
// 小号 `.form-control` 行高
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

// `.form-group` 间距
$form-group-margin-bottom:       15px !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

// 表单附加字段的背景颜色
$input-group-addon-bg:           $gray-lighter !default;
// 表单附加元素的边框颜色
$input-group-addon-border-color: $input-border !default;

// 禁用时的鼠标样式
$cursor-disabled:                not-allowed !default;


/* --------------------------------------------------------------
 * = 下拉
 * ----------------------------------------------------------- */

// 下拉的背景
$dropdown-bg:                    #fff !default;

// 下拉的边框颜色 `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;

// 下拉边框颜色降级
$dropdown-fallback-border:       #ccc !default;

// 下拉的分隔线颜色
$dropdown-divider-bg:            #e5e5e5 !default;

// 下拉的链接文字颜色
$dropdown-link-color:            $gray-dark !default;

// 下拉的鼠标经过链接颜色
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;

// 下拉的鼠标经过背景颜色
$dropdown-link-hover-bg:         #f5f5f5 !default;

// 当前下拉项的文字颜色
$dropdown-link-active-color:     $component-active-color !default;

// 当前下拉项的背景颜色
$dropdown-link-active-bg:        $component-active-bg !default;

// 禁用下拉项的文字颜色
$dropdown-link-disabled-color:   $gray-light !default;

// 下拉标题的文字颜色
$dropdown-header-color:          $gray-light !default;

//** 已启用的下拉三角形的颜色 `$dropdown-caret-color`
$dropdown-caret-color:           #000 !default;


/* --------------------------------------------------------------
 * = z-index
 * ----------------------------------------------------------- */
// z 轴坐标值, 避免修改

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;


/* --------------------------------------------------------------
 * = 设备断点
 * ----------------------------------------------------------- */

// 超小设备
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// 小设备 / 平板
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// 中号设备 / 笔记本
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// 大号设备 / 台式机
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


/* --------------------------------------------------------------
 * = 栅格系统
 * ----------------------------------------------------------- */

// 栅格系统数量
$grid-columns:              12 !default;

// 栅格系统的间距, 左右各一半
$grid-gutter-width:         30px !default;

// 导航条折叠, 什么设备上不折叠
$grid-float-breakpoint:     $screen-sm-min !default;

// 什么设备上开始折叠
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


/* --------------------------------------------------------------
 * = 容器
 * ----------------------------------------------------------- */
//## 为不同尺寸的设备定义 `.container` 的最大宽度

// 小屏幕 / 平板
$container-tablet:             (720px + $grid-gutter-width) !default;
$container-sm:                 $container-tablet !default;

// 中等尺寸屏幕 / 笔记本
$container-desktop:            (940px + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;

// 大尺寸屏幕 / 台式机
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
$container-lg:                 $container-large-desktop !default;


/* --------------------------------------------------------------
 * = 导航条
 * ----------------------------------------------------------- */
// 基础
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #f8f8f8 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// 链接
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// 品牌标签
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// 切换按钮
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


/* --------------------------------------------------------------
 * = 反色导航条
 * ----------------------------------------------------------- */

// 基础
$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-bg:                         #222 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// 链接
$navbar-inverse-link-color:                 lighten($gray-light, 15%) !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// 品牌标签
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// 切换按钮
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;


/* --------------------------------------------------------------
 * = 导航
 * ----------------------------------------------------------- */

// 通用
$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

// 选项卡
$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

//== Pills
$nav-pills-border-radius:                   $border-radius-base !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;


/* --------------------------------------------------------------
 * = 分页
 * ----------------------------------------------------------- */
$pagination-color:                     $link-color !default;
$pagination-bg:                        #fff !default;
$pagination-border:                    #ddd !default;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $gray-lighter !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;


/* --------------------------------------------------------------
 * = 数字分页
 * ----------------------------------------------------------- */

$pager-bg:                             $pagination-bg !default;
$pager-border:                         $pagination-border !default;
$pager-border-radius:                  15px !default;

$pager-hover-bg:                       $pagination-hover-bg !default;

$pager-active-bg:                      $pagination-active-bg !default;
$pager-active-color:                   $pagination-active-color !default;

$pager-disabled-color:                 $pagination-disabled-color !default;


/* --------------------------------------------------------------
 * = 跳转按钮
 * ----------------------------------------------------------- */

$jumbotron-padding:              30px !default;
$jumbotron-color:                inherit !default;
$jumbotron-bg:                   $gray-lighter !default;
$jumbotron-heading-color:        inherit !default;
$jumbotron-font-size:            ceil(($font-size-base * 1.5)) !default;
$jumbotron-heading-font-size:    ceil(($font-size-base * 4.5)) !default;


/* --------------------------------------------------------------
 * = 表单状态和提醒
 * ----------------------------------------------------------- */

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;


/* --------------------------------------------------------------
 * = 工具提示
 * ----------------------------------------------------------- */
// 工具提示最大宽度
$tooltip-max-width:           200px !default;
// 工具提示文字颜色
$tooltip-color:               #fff !default;
// 工具提示背景颜色
$tooltip-bg:                  #000 !default;
$tooltip-opacity:             .9 !default;

// 工具提示箭头宽度
$tooltip-arrow-width:         5px !default;
// 工具提示箭头颜色
$tooltip-arrow-color:         $tooltip-bg !default;


/* --------------------------------------------------------------
 * = 浮动窗口
 * ----------------------------------------------------------- */

// 浮动窗口背景颜色
$popover-bg:                          #fff !default;

// 浮动窗口最大宽度
$popover-max-width:                   276px !default;

// 浮动窗口边框颜色
$popover-border-color:                rgba(0,0,0,.2) !default;

// 浮动窗口边框颜色降级
$popover-fallback-border-color:       #ccc !default;

// 浮动窗口标题背景颜色
$popover-title-bg:                    darken($popover-bg, 3%) !default;

// 浮动窗口箭头宽度
$popover-arrow-width:                 10px !default;

// 浮动窗口箭头背景
$popover-arrow-color:                 $popover-bg !default;

// 浮动窗口边框宽度
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;

// 浮动边框颜色
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;

// 浮动窗口边框颜色降级
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;


/* --------------------------------------------------------------
 * = 标签
 * ----------------------------------------------------------- */

$label-default-bg:            $gray-light !default;
$label-primary-bg:            $brand-primary !default;
$label-success-bg:            $brand-success !default;
$label-info-bg:               $brand-info !default;
$label-warning-bg:            $brand-warning !default;
$label-danger-bg:             $brand-danger !default;

// 标签默认文字颜色
$label-color:                 #fff !default;

// 标签默认鼠标经过文字颜色
$label-link-hover-color:      #fff !default;


/* --------------------------------------------------------------
 * = 模态窗口
 * ----------------------------------------------------------- */

// 模态窗口内间距
$modal-inner-padding:         15px !default;

// 模态窗口标题内间距
$modal-title-padding:         15px !default;

// 模态窗口标题行高
$modal-title-line-height:     $line-height-base !default;

// 模态窗口内容背景颜色
$modal-content-bg:                             #fff !default;

// 模态窗口内容边框
$modal-content-border-color:                   rgba(0,0,0,.2) !default;

// 模态窗口内容边框降级
$modal-content-fallback-border-color:          #999 !default;

// 模态窗口遮罩背景
$modal-backdrop-bg:           #000 !default;

// 模态窗口遮罩透明度
$modal-backdrop-opacity:      .5 !default;

// 模态窗口头部边框颜色
$modal-header-border-color:   #e5e5e5 !default;

// 模态窗口底部边框颜色
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;


/* --------------------------------------------------------------
 * = 提醒
 * ----------------------------------------------------------- */
$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;


/* --------------------------------------------------------------
 * = 进度条
 * ----------------------------------------------------------- */

// 整体进度条背景
$progress-bg:                 #f5f5f5 !default;

// 进度条文字颜色
$progress-bar-color:          #fff !default;

// 进度条圆角半径
$progress-border-radius:      $border-radius-base !default;

$progress-bar-bg:             $brand-primary !default;
$progress-bar-success-bg:     $brand-success !default;
$progress-bar-warning-bg:     $brand-warning !default;
$progress-bar-danger-bg:      $brand-danger !default;
$progress-bar-info-bg:        $brand-info !default;


/* --------------------------------------------------------------
 * = 列表组
 * ----------------------------------------------------------- */

// `.list-group-item` 的背景颜色
$list-group-bg:                 #fff !default;
// `.list-group-item` 的边框颜色
$list-group-border:             #ddd !default;
// List group 的圆角半径
$list-group-border-radius:      $border-radius-base !default;

// 列表中单条项目鼠标经过时的背景颜色
$list-group-hover-bg:           #f5f5f5 !default;
// 当前列表项目的颜色
$list-group-active-color:       $component-active-color !default;
// 当前列表项目的背景颜色
$list-group-active-bg:          $component-active-bg !default;
// 当前列表项目的边框颜色
$list-group-active-border:      $list-group-active-bg !default;
// 当前列表项目的文字颜色
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

// 禁用项目的颜色
$list-group-disabled-color:      $gray-light !default;

// 禁用项目的背景颜色
$list-group-disabled-bg:         $gray-lighter !default;

// 禁用项目的文字颜色
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         #555 !default;
$list-group-link-hover-color:   $list-group-link-color !default;
$list-group-link-heading-color: #333 !default;


/* --------------------------------------------------------------
 * = 面板
 * ----------------------------------------------------------- */

$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

// 面板内的元素的边框颜色
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-success-text:          $state-success-text !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-info-text:             $state-info-text !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;

$panel-warning-text:          $state-warning-text !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-text !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;


/* --------------------------------------------------------------
 * = 缩略图
 * ----------------------------------------------------------- */

// 缩略图内间距
$thumbnail-padding:           4px !default;

// 缩略图背景颜色
$thumbnail-bg:                $body-bg !default;

// 缩略图边框颜色
$thumbnail-border:            #ddd !default;

// 缩略图圆角半径
$thumbnail-border-radius:     $border-radius-base !default;

// 缩略图说明字体颜色
$thumbnail-caption-color:     $text-color !default;

// 缩略图说明间距
$thumbnail-caption-padding:   9px !default;


/* --------------------------------------------------------------
 * = Wells
 * ----------------------------------------------------------- */

$well-bg:                     #f5f5f5 !default;
$well-border:                 darken($well-bg, 7%) !default;


/* --------------------------------------------------------------
 * = 徽章
 * ----------------------------------------------------------- */
$badge-color:                 #fff !default;

// 链接徽章的颜色和鼠标经过颜色
$badge-link-hover-color:      #fff !default;
$badge-bg:                    $gray-light !default;

// 当前导航链接上的徽章文字颜色
$badge-active-color:          $link-color !default;

// 当前导航链接上的徽章背景颜色
$badge-active-bg:             #fff !default;

$badge-font-weight:           bold !default;
$badge-line-height:           1 !default;
$badge-border-radius:         10px !default;


/* --------------------------------------------------------------
 * = 面包屑
 * ----------------------------------------------------------- */

$breadcrumb-padding-vertical:   8px !default;
$breadcrumb-padding-horizontal: 15px !default;

// 面包屑背景颜色
$breadcrumb-bg:                 #f5f5f5 !default;

// 面包屑文字颜色
$breadcrumb-color:              #ccc !default;

// 面包屑当前项目颜色
$breadcrumb-active-color:       $gray-light !default;

// 面包屑分隔字符
$breadcrumb-separator:          "/" !default;


/* --------------------------------------------------------------
 * = 轮播
 * ----------------------------------------------------------- */

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #fff !default;


/* --------------------------------------------------------------
 * = 关闭按钮
 * ----------------------------------------------------------- */

$close-font-weight:           bold !default;
$close-color:                 #000 !default;
$close-text-shadow:           0 1px 0 #fff !default;


/* --------------------------------------------------------------
 * = 代码
 * ----------------------------------------------------------- */

$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;

$kbd-color:                   #fff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;


/* --------------------------------------------------------------
 * = 辅助元素
 * ----------------------------------------------------------- */

// 表单和列表水平偏移
$component-offset-horizontal: 180px !default;

// 柔和字体颜色
$text-muted:                  $gray-light !default;

// 缩写和首字母边框颜色
$abbr-border-color:           $gray-light !default;

// 小号标题字体颜色
$headings-small-color:        $gray-light !default;

// 小号引用字体颜色
$blockquote-small-color:      $gray-light !default;

// 引用字体大小
$blockquote-font-size:        ($font-size-base * 1.25) !default;

// 引用边框颜色
$blockquote-border-color:     $gray-lighter !default;

// 页面标题边框颜色
$page-header-border-color:    $gray-lighter !default;

// 水平描述列表标题的宽度
$dl-horizontal-offset:        $component-offset-horizontal !default;

//** 水平列表 .dl-horizontal 变为水平时的端点
$dl-horizontal-breakpoint:    $grid-float-breakpoint !default;

// 水平线颜色
$hr-border:                   $gray-lighter !default;